@{
    ViewBag.Title = "订单数据查询";
}
<div class="list-group" id="exportDiv">
    <hr />
    <a href="#" class="list-group-item active">
        <h2 class="list-group-item-heading">数据查看...</h2>
    </a>
    <hr />
    <div class="container-fluid">
        @*<div id="toolbarSJCK" class="btn-group">
                <button type="button" class="btn btn-success" data-loading-text="正在获取所有数据..." data-complete-text="完成获取所有数据..." id="refreshBtn">
                    <i class="glyphicon glyphicon-random"> 获取所有数据</i>
                </button>
                <button type="button" class="btn btn-info" data-loading-text="正在导出数据..." data-complete-text="完成导出数据..." id="exportAbnormalData">
                    <i class="glyphicon glyphicon-cloud-download"> 导出异常数据</i>
                </button>
                <select class="selectpicker show-tick" data-width="150px" id="sourceSelectData" name="sourceSelectData">
                    <option value="0">--选择数据来源--</option>
                    <option value="1">京东收款</option>
                    <option value="2">银联收款</option>
                    <option value="3">支付宝收款</option>
                </select>
                <input type="checkbox" id="stateCheck" style="margin-left:10px">
                <label for="bstateCheck">匹配状态</label>
            </div>*@
        <div class="row-fluid">
            <div class="span12">
                <table id="dataViewTable"
                       data-toggle="table"
                       data-url="/Home/GetDataViewData/"
                       data-maintain-selected="true"
                       data-click-to-select="true"
                       data-row-style="rowCheckStyle"
                       data-search="true"
                       data-sort-name="OrderNum"
                       data-sort-order="desc"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       @*data-show-export="true"*@
                       @*data-show-filter="true"*@
                       @*data-toolbar="#toolbarSJCK"*@
                       data-pagination="true"
                       data-page-size=15
                       data-page-list="[15,30,50,100]"
                       @*data-height="730"*@>
                    <thead>
                        <tr>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="OrderNum">订单号</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="商品销售">商品销售</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="代收配送费">代收配送费</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="佣金">佣金</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="京豆">京豆</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="京挑客服务费">京挑客服务费</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="售后卖家赔付费">售后卖家赔付费</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>
                <strong>总计:</strong>
            </h4>
            <ul>
                <li><strong>商品销售：</strong><label id="sumSPXS"></label></li>
                <li><strong>代收配送费：</strong><label id="sumDSPSF"></label></li>
                <li><strong>佣金：</strong><label id="sumYJ"></label></li>
                <li><strong>京豆：</strong><label id="sumJD"></label></li>
                <li><strong>京挑客服务费：</strong><label id="sumJTKFWF"></label></li>
                <li><strong>售后卖家赔付费：</strong><label id="sumSHMJPFF"></label></li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#dataViewTable').on('load-success.bs.table', function (e, data) {
            var sumSPXS = 0.00;
            var sumDSPSF = 0.00;
            var sumYJ = 0.00;
            var sumJD = 0.00;
            var sumJTKFWF = 0.00;
            var sumSHMJPFF = 0.00;
            for (var i = 0; i < data.length;i++)
            {
                sumSPXS += parseFloat(data[i].商品销售);
                sumDSPSF += parseFloat(data[i].代收配送费);
                sumYJ += parseFloat(data[i].佣金);
                sumJD += parseFloat(data[i].京豆);
                sumJTKFWF += parseFloat(data[i].京挑客服务费);
                sumSHMJPFF += parseFloat(data[i].售后卖家赔付费);
            }
            $("#sumSPXS").html(sumSPXS.toFixed(2));
            $("#sumDSPSF").html(sumDSPSF.toFixed(2));
            $("#sumYJ").html(sumYJ.toFixed(2));
            $("#sumJD").html(sumJD.toFixed(2));
            $("#sumJTKFWF").html(sumJTKFWF.toFixed(2));
            $("#sumSHMJPFF").html(sumSHMJPFF.toFixed(2));
        })
        
    });
</script>
