@{
    ViewBag.Title = "泸州老窖";
}

<div class="list-group" id="importDiv">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "myform", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <hr />
        <a href="#" class="list-group-item active">
            <h2 class="list-group-item-heading">数据导入...</h2>
        </a>
        <hr />
        <div class="content">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>
                    提示!
                </h4>
                <ul>
                    <li><strong>导入前</strong> 请先选择数据来源,只能导入xls和xlsx格式的文件.</li>
                    <li><strong>导入后</strong> 请先刷新数据处理表格数据，再做相应操作.</li>
                </ul>
            </div>
            <div>
                <select class="selectpicker show-tick" data-width="279px" id="sourceSelect" name="sourceSelect">
                    <option value="0">--选择数据来源--</option>
                    <option value="1">京东收款</option>
                    <option value="2">银联收款</option>
                    <option value="3">支付宝收款</option>
                    @*<option value="4">京东后台数据</option>*@
                </select>
            </div>
            <br />
            <input type="file" name="files" class="btn btn-danger" />
            <br />
            <input type="submit" name="btnIn" id="btnIn" value="导 入 <<" class="btn btn-success" />
        </div>
        <br />
        if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>@ViewBag.Success
            </div>
        }
        if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>@ViewBag.Error
            </div>
        }
    }
    <div id="myLoadingElement" style="display: none;">
        <img src="~/Content/images/loading.gif" alt="Loading..." />
    </div>
</div>
<div class="list-group" id="handleDiv">
    <hr />
    <a href="#" class="list-group-item active">
        <h2 class="list-group-item-heading">数据处理(财务开票入账)...</h2>
    </a>
    <hr />
    <div class="alert alert-warning " id="myAlert" style="display:none">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
    </div>
    <div class="form-group">
        <label for="beginDateTime" class="col-md-1">起始时间:</label>
        <div class="input-group date form_datetime col-md-4" data-link-field="beginDateTime" data-date-format="yyyy MM dd -p HH:ii">
            <input class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
        <input type="hidden" id="beginDateTime" value="" />
    </div>
    <div class="form-group">
        <label for="endDateTime" class="col-md-1">结束时间:</label>
        <div class="input-group date form_datetime col-md-4" data-link-field="endDateTime" data-date-format="yyyy MM dd -p HH:ii">
            <input class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
        <input type="hidden" id="endDateTime" value="" />
    </div>
    <div class="container-fluid">
        <div id="toolbar" class="btn-group">
            <select class="selectpicker show-tick" data-width="130px"  id="bInvoiceMadeSelectData" name="bInvoiceMadeSelectData">
                <option value="0">--是否已开票--</option>
                <option value="1">是</option>
                <option value="2">否</option>
            </select>
            <select class="selectpicker show-tick" data-width="130px"  id="bLogicSelectData" name="bLogicSelectData">
                <option value="0">--是否已发货--</option>
                <option value="1">是</option>
                <option value="2">否</option>
            </select>
            <button type="button" class="btn btn-success" data-loading-text="正在查询数据..." data-complete-text="完成查询数据..." id="synchronousBtn">
                <i class="glyphicon glyphicon-search"> 查询数据</i>
            </button>
            @*<button type="button" class="btn btn-info disabled" data-loading-text="正在导出数据..." data-complete-text="完成导出数据..." id="updateBtn">
                    <i class="glyphicon glyphicon-heart"> 导出选中数据</i>
                </button>*@
            <button type="button" class="btn btn-info" data-loading-text="正在导出数据..." data-complete-text="完成导出数据..." id="exportBtn">
                <i class="glyphicon glyphicon-save"> 导出财务开票</i>
            </button>
            <button type="button" class="btn btn-inverse" data-loading-text="正在导出数据..." data-complete-text="完成导出数据..." id="exportCWRZBtn">
                <i class="glyphicon glyphicon-cloud-download"> 导出财务入账</i>
            </button>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table id="dataTable"
                       data-toggle="table"
                       @*data-url="/Home/GetData/"*@
                       data-maintain-selected="true"
                       data-click-to-select="true"
                       data-row-style="rowStyle"
                       data-search="true"
                       data-sort-name="订单号"
                       data-sort-order="desc"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       @*data-show-export="true"*@
                       @*data-show-filter="true"*@
                       data-toolbar="#toolbar"
                       data-pagination="true"
                       data-page-size=10
                       data-page-list="[10,30,50,100]"
                       @*data-height="730"*@>
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="订单号">订单号</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="单据号" data-visible="false">单据号</th>
                            <th data-sortable="true" data-halign="center" data-align="left" data-field="购货单位">购货单位</th>
                            <th data-sortable="true" data-halign="center" data-align="left" data-field="购方税号">购方税号</th>
                            <th data-sortable="true" data-halign="center" data-align="left" data-field="地址电话">地址电话</th>
                            <th data-sortable="true" data-halign="center" data-align="left" data-field="购方银行账号">购方银行账号</th>
                            <th data-sortable="true" data-halign="center" data-align="left" data-field="商品名称">商品名称</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="规格型号">规格型号</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="计量单位">计量单位</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="开票数量">开票数量</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="总额">总额</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="税率" data-visible="false">税率</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="折扣金额" data-visible="false">折扣金额</th>
                            <th data-sortable="true" data-halign="center" data-align="left" data-field="备注">备注</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="客户是否要票" data-formatter="bInvoiceFormatter">客户是否要票</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="是否已开票" data-formatter="bInvoiceMadeFormatter">是否已开票</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="list-group" id="exportDiv">
    <hr />
    <a href="#" class="list-group-item active">
        <h2 class="list-group-item-heading">数据核对...</h2>
    </a>
    <hr />
    <div class="container-fluid">
        <div id="toolbarSJHD" class="btn-group">
            <button type="button" class="btn btn-success" data-loading-text="正在获取所有数据..." data-complete-text="完成获取所有数据..." id="refreshBtn">
                <i class="glyphicon glyphicon-random"> 获取所有数据</i>
            </button>
            <button type="button" class="btn btn-info" data-loading-text="正在导出数据..." data-complete-text="完成导出数据..." id="exportAbnormalData">
                <i class="glyphicon glyphicon-cloud-download"> 导出异常数据</i>
            </button>
            <select class="selectpicker show-tick" data-width="150px" id="sourceSelectData" name="sourceSelectData">
                <option value="0">--选择数据来源--</option>
                <option value="1">京东收款</option>
                <option value="2">银联收款</option>
                <option value="3">支付宝收款</option>
            </select>
            <input type="checkbox" id="stateCheck" style="margin-left:10px">
            <label for="bstateCheck">匹配状态</label>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table id="dataCheckTable"
                       data-toggle="table"
                       data-url="/Home/GetDataCheckData/"
                       data-maintain-selected="true"
                       data-click-to-select="true"
                       data-row-style="rowCheckStyle"
                       data-search="true"
                       data-sort-name="OrderNum"
                       data-sort-order="desc"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       @*data-show-export="true"*@
                       @*data-show-filter="true"*@
                       data-toolbar="#toolbarSJHD"
                       data-pagination="true"
                       data-page-size=15
                       data-page-list="[15,30,50,100]"
                       @*data-height="730"*@>
                    <thead>
                        <tr>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="OrderNum">订单号</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="Source">来源</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="SumSettlementAmount">收款结算金额</th>
                            <th data-sortable="true" data-halign="center" data-align="right" data-field="AllTotal">网店管家合计应收</th>
                            <th data-sortable="true" data-halign="center" data-align="center" data-field="state" data-formatter="bStateFormatter">匹配状态</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <form action="" class="form-horizontal" role="form" id="exportSelectForm" method="POST">
        <input type="hidden" id="TradeNoList" name="TradeNoList" /><br />
        <input type="hidden" id="beginDateTimeStr" name="beginDateTimeStr" /><br />
        <input type="hidden" id="endDateTimeStr" name="endDateTimeStr" /><br />
        <input type="hidden" id="bInvoiceMade" name="bInvoiceMade" /><br />
        <input type="hidden" id="bLogic" name="bLogic" /><br />
    </form>
</div>

<script type="text/javascript">
    $("#myform").submit(function (e) {
        $("#myLoadingElement").show();
    });
    $('.form_datetime').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });

    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];
        if (row.客户是否要票 == "True") {
            return {
                classes: 'success'
            };
        }
        return {};
    }

    function rowCheckStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];
        if (row.state == "0") {
            return {
                classes: 'danger'
            };
        }
        return {};
    }

    $("#synchronousBtn").click(function () {
        $("#myAlert").hide();
        $("#myAlert").html("")
        if (!$("#beginDateTime").val()) {
            $("#myAlert").html("<strong>起始时间不能为空</strong>")
            $("#myAlert").show();
            return false;
        }
        if (!$("#endDateTime").val()) {
            $("#myAlert").html("<strong>结束时间不能为空</strong>")
            $("#myAlert").show();
            return false;
        }
        if ($("#beginDateTime").val() > $("#endDateTime").val())
        {
            $("#myAlert").html("<strong>起始时间不能大于结束时间</strong>")
            $("#myAlert").show();
            return false;
        }
        $('#dataTable').bootstrapTable('refresh', { url: "/Home/GetData/?beginDateTime=" + $("#beginDateTime").val() + "&endDateTime=" + $("#endDateTime").val() + "&bInvoiceMade=" + $("#bInvoiceMadeSelectData").val() + "&bLogic=" + $("#bLogicSelectData").val() });
    });

    $("#updateBtn").click(function () {
        var data = $('#dataTable').bootstrapTable('getSelections');
        var TradeNoList = new Array();
        if (data.length == 0) {
            alert("请选择需要导出的数据");
            return false;
        }
        else {
            for (i in data) {
                var a = data[i];
                TradeNoList.push(a.TradeNO2);
            }
        }
        $("#TradeNoList").val(TradeNoList);
        var form = $('#exportSelectForm');
        form.attr("action", "/Home/ExportSelectToExcel/");
        form.submit();
    })

    $("#exportBtn").click(function () {
        $("#beginDateTimeStr").val($("#beginDateTime").val());
        $("#endDateTimeStr").val($("#endDateTime").val());
        $("#bInvoiceMade").val($("#bInvoiceMadeSelectData").val());
        $("#bLogic").val($("#bLogicSelectData").val());
        var form = $('#exportSelectForm');
        form.attr("action", "/Home/ExportAllDataToExcel/");
        form.submit();
    })

    $("#exportCWRZBtn").click(function () {
        $("#beginDateTimeStr").val($("#beginDateTime").val());
        $("#endDateTimeStr").val($("#endDateTime").val());
        $("#bInvoiceMade").val($("#bInvoiceMadeSelectData").val());
        $("#bLogic").val($("#bLogicSelectData").val());
        var form = $('#exportSelectForm');
        form.attr("action", "/Home/ExportToExcel/");
        form.submit();
    })

    $("#refreshBtn").click(function () {
        $('#dataCheckTable').bootstrapTable('filterBy', {
        });
    });

    $("#exportAbnormalData").click(function () {
        var form = $('#exportSelectForm');
        form.attr("action", "/Home/ExportAbnormalDataToExcel/");
        form.submit();
    })

    $("#sourceSelectData").change(function () {
        if ($("#sourceSelectData").val() == "0") {
            $('#dataCheckTable').bootstrapTable('filterBy', {
            });
        }
        if ($("#sourceSelectData").val() == "1") {
            $('#dataCheckTable').bootstrapTable('filterBy', {
                Source: "京东收款",
            });
        }
        if ($("#sourceSelectData").val() == "2") {
            $('#dataCheckTable').bootstrapTable('filterBy', {
                Source: "银联收款",
            });
        }
        if ($("#sourceSelectData").val() == "3") {
            $('#dataCheckTable').bootstrapTable('filterBy', {
                Source: "支付宝收款",
            });
        }

    });



    function bInvoiceFormatter(value) {
        if (value == "True") {
            return '<div  style="color:#009900">' +
                    '<i class="glyphicon glyphicon-ok"></i>'
            '</div>';
        }
        else {
            return '<div  style="color:#CC0000 ">' +
                   '<i class="glyphicon glyphicon-remove"></i>'
            '</div>';
        }
    }

    function bInvoiceMadeFormatter(value) {
        if (value == "True") {
            return '<div  style="color:#009900">' +
                    '<i class="glyphicon glyphicon-ok"></i>'
            '</div>';
        }
        else {
            return '<div  style="color:#CC0000 ">' +
                   '<i class="glyphicon glyphicon-remove"></i>'
            '</div>';
        }
    }

    function bStateFormatter(value) {
        if (value == "1") {
            return '<div  style="color:#009900">' +
                    '<i class="glyphicon glyphicon-ok"></i>'
            '</div>';
        }
        else {
            return '<div  style="color:#CC0000 ">' +
                   '<i class="glyphicon glyphicon-remove"></i>'
            '</div>';
        }
    }

    $('#stateCheck').click(function () {
        $('#dataCheckTable').bootstrapTable('filterBy', {
            state: $("#stateCheck").is(':checked') ? '1' : '0',
        });
    });
</script>
